.re_body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.re_header{
    /* background-color: #313131; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.re_header_text{
    width: 180px;
    color: white;
    font-family: sans-serif;
    font-size: large;
    position: relative;
}
.re_viewport{
    position: absolute;
    top: 55px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
}